{
  "presets": [
    ["modern-async", {
      "promise": "bluebird",
      "fast-async": {
        "compiler": {
          "promises": true,
          "generators": false
        },
        "useRuntimeModule": true
      }
    }]
  ],
  "plugins": [
    "dedent"
  ]
}
