{
  "presets": [
    ["modern-async", {
      "promise": "bluebird",
      "stage": 0,
      "fast-async": {
        "compiler": {
          "promises": true,
          "generators": false
        },
        "useRuntimeModule": true
      }
    }]
  ]
}
